@import '../legacy/common.css';

.btn,
.btn:hover,
.btn:focus,
.btn:active,
.btn-link,
.btn-link:hover,
.btn-link:focus,
.btn-link:active {
  outline: none !important;
  background-image: none;
}

@media print {
  .extMainMenu {
    display: none;
  }
}

body,
html {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#imageContainer {
  width: 100%;
  height: 100%;
  display: block;
  margin: auto;
  object-fit: contain;
}

.viewer-container {
  width: 100%;
  height: 100%;
}

#imageContent {
  width: 100%;
  height: 100%;
  display: block;
  margin: auto;
  object-fit: contain;
}

#themeStyle {
  margin-left: 19px;
  margin-top: 8px;
  margin-bottom: 8px;
}

#flipButtons {
  margin-left: 19px;
  margin-top: 8px;
  margin-bottom: 8px;
}

#rotateButtons {
  margin-left: 19px;
  margin-top: 8px;
  margin-bottom: 8px;
}

#zoomInOutButtons {
  margin-left: 19px;
  margin-top: 8px;
  margin-bottom: 8px;
}

#resetButtons {
  margin-left: 19px;
  margin-top: 8px;
  margin-bottom: 8px;
}

.iconBackground {
  color: rgba(0, 0, 0, 0.8);
}

.iconForeground {
  color: #f2f2f2;
}

.makeBlackAndWhite {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
}

.makeSepia {
  -webkit-filter: sepia(100%);
  -moz-filter: sepia(100%);
}

.make50Dark {
  -webkit-filter: brightness(50%);
  -moz-filter: brightness(50%);
}

.increaseContrast {
  -webkit-filter: contrast(200%);
  -moz-filter: contrast(200%);
}

.blur {
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
}

/* Progress-bar nanobar */
.progress-nanobar {
  width: 100%;
  height: 4px;
  z-index: 9999;
  top: 0px;
  float: left;
  position: fixed;
}

.extMainMenu {
  z-index: 10000;
}

.modal {
  z-index: 10002;
}

.viewer-button {
  visibility: hidden;
}

.btn-black {
  background-color: #282a36;
  color: #ffffff;
}

.btn-sepia {
  background-color: #f4ecd8;
  color: #5b4636;
}

.dropdown-menu {
  width: 180px;
}

.viewer-backdrop {
  background-color: transparent;
  /* background: repeating-linear-gradient(
    45deg,
    #d5d5d5,
    #d5d5d5 10px,
    #a7a7a7 10px,
    #a7a7a7 20px
  ); */
}
