@import '../legacy/common.css';

#mdContent {
  overflow: auto;
  height: 100%;
  font-size: var(--default-text-size);
  color: var(--default-text-color);
  background-color: var(--default-background-color);
}

.zoomSmallest {
  zoom: 70%;
}

.zoomSmaller {
  zoom: 80%;
}

.zoomSmall {
  zoom: 90%;
}

.zoomDefault {
  zoom: 100%;
}

.zoomLarge {
  zoom: 110%;
}

.zoomLarger {
  zoom: 120%;
}

.zoomLargest {
  zoom: 130%;
}
