libs/**/Gruntfile.js
libs/**/.npmignore
libs/**/HELP*
libs/**/*yml
libs/**/Gemfile*
libs/**/Gulpfile*
libs/**/Makefile*
libs/**/package-lock.json
libs/**/yarn.lock
libs/**/ISSUE*
libs/**/README*
libs/**/.bower*
libs/**/.gitignore*
libs/**/CHANGELOG*
libs/**/src/
libs/**/benchmarks/
libs/**/test/
libs/**/tests/
libs/**/*.slim.js
libs/**/*.slim.min.js
libs/**/*.slim.min.map
node_modules
3d-viewer
.idea
*.iml
