node_modules
builds
libs/*
text-editor/libs/*
json-editor/libs/*
mhtml-viewer/libs/*
ebook-viewer/libs/*
html-editor/libs/*
document-viewer/libs/*
mindmap-viewer/libs/*
msg-viewer/libs/*
rtf-viewer/libs/*
3d-viewer/libs/*
slides-viewer/libs/*
spreadsheet-viewer/libs/*
image-viewer/libs/*
media-player/build/*
pdf-viewer/generic/build/*
pdf-viewer/generic/web/*
text-editor-react/build/*
md-editor/build/*
