@import '../legacy/common.css';

body {
  font-size: 13px;
}

#htmlContent {
  overflow: auto;
  height: 100%;
}

/* Progress-bar nanobar */
.progress-nanobar {
  width: 100%;
  height: 4px;
  z-index: 9999;
  top: 0px;
  float: left;
  position: fixed;
}
