@import '../legacy/common.css';

#htmlout {
  height: 100%;
  overflow: auto;
  font-size: var(--default-text-size);
  color: var(--text-color);
  background-color: var(--background-color);
  margin: 10px;
}

#htmlout table {
}

#htmlout table th {
  font-weight: bold;
}

#htmlout table,
#htmlout table th,
#htmlout table td {
  border: 1px solid gray;
  padding: 3px;
  color: var(--text-color);
  background-color: var(--background-color);  
}
