@import '../fonts/index.css';

.milkdown {
  width: 100%;
  padding: 10px;
}

@media print {
  .milkdown {
    width: 100%;
    padding: 0;
    box-shadow: none;
  }
}

:root {
  --font: Roboto, HelveticaNeue-Light, Helvetica Neue Light, Helvetica Neue,
    Helvetica, Arial, Lucida Grande, sans-serif;
  --font-code: Consolas, Monaco, Andale Mono, Ubuntu Mono, monospace;
  --shadow: 59, 66, 82;
  --primary: 94, 129, 172;
  --secondary: 129, 161, 193;
  --radius: 4px;
  --line-width: 1px;
  --neutral: 46, 52, 64;
  --solid: 76, 86, 106;
  --line: 216, 222, 233;
  --background: #ffffff;
  --surface: #fafafa;
}

[data-theme='dark'] {
  --neutral: 236, 239, 244;
  --solid: 216, 222, 233;
  --line: 67, 76, 94;
  --background: rgb(19, 19, 19);
  --surface: rgb(48, 48, 48);
}

body {
  background: rgba(var(--background), 1);
}
