.milk {
  flex-grow: 1;
  transition: all 0.4s ease-in-out;
  flex-shrink: 2;
}

.code {
  transition: all 0.4s ease-in-out, height 0s, padding 0s;
  font-size: 0.9rem;
  line-height: 1.25rem;
  overflow: auto;
}

.focus {
  outline: none;
  /* border: 1px solid; */
}
