html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

#root {
  height: 100%;
  display: flex;
}

#container {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: black;
}

.plyr--full-ui {
  width: 100%;
}

.plyr__controls {
  padding-right: 70px !important;
}

:root {
  --plyr-color-main: var(--primary-color);
  --plyr-audio-controls-background: black;
  --plyr-audio-control-color: white;
}

.audioPlayer .plyr__volume input[type='range'] {
  width: 200px;
}

.audioPlayer .plyr__controls {
  display: block;
}

.audioPlayer .plyr__control svg {
  width: 40px;
  height: 40px;
}

#player {
  max-height: 100vh;
}
