:root,
:root.light {
  --default-background-color: #f5f5f5;
  --default-text-color: #757575;
  --default-text-size: 14px;
  --background-color: #f7f7f7;
  --text-color: #757575;
  --primary-background-color: #1dd19f;
  --primary-text-color: #757575;
}

:root.dark {
  --background-color: #303030;
  --text-color: #ffffff; 
  --primary-background-color: #1dd19f;
  --primary-text-color: #ffffff;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}

/* Disable drag and drop on images */
img {
  pointer-events: none;
}

/* Overwriting text color in bootstrap modal dialogs */
.modal {
  color: black !important;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
  background-color: var(--primary-background-color) !important;
  color: var(--primary-text-color) !important;
  border: 0;
}

/* .btn-outline-primary,
.btn-outline-primary:hover,
.btn-outline-primary:focus,
.btn-outline-primary:active {
  border: 1px solid var(--primary-background-color);
  color: var(--primary-background-color);
  text-transform: uppercase;
} 

.btn-outline-primary:hover {
  background-color: var(--primary-background-color);
  color: var(--primary-text-color);
} */

.viewerMainMenuButton {
  background-color: var(--primary-background-color);
}

.bi {
  margin-right: 5px;
  fill: #757575;
}

#extFabMenu {
  position: fixed; 
  right: 20px; 
  bottom: 20px;
  user-select: none; 
}

#extFabMenu > button {
  border-radius: 30px; 
  height: 50px; 
  width: 50px;
  padding-top: 5px;
  padding-left: 13px;
}

@media print {
  #extFabMenu {
    display: none;
  }
}

/* Needed for mark.js */
mark{
  background: orange;
  color: black;
  border-radius: 5px;
  padding-right: 0;
  padding-left: 0;
}

/* Custom scrollbar */
::-webkit-scrollbar-track {
  border-radius: 0;
  background-color: transparent;
}

::-webkit-scrollbar {
  width: 8px;
  height: 0;
  -webkit-transform: scaleX(10);
  background-color: transparent;
}

::-webkit-scrollbar-track,
::-webkit-scrollbar-corner {
  background: none;
}

:hover::-webkit-scrollbar-thumb {
  background-color: #787f8b;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: transparent;
  border: none;
  box-shadow: none !important;
}

:hover::-webkit-scrollbar-thumb {
  background: rgba(100, 108, 122, 0.84);
}

:active::-webkit-scrollbar-thumb {
  background: #aecff0;
}
