html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
  font-size: 9px;
  background-color: transparent;
  font-family: Ubuntu, Geneva, Arial, Helvetica, sans-serif;
}

/* Removes the selection border on ui elements on android */
* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-touch-callout: none;
  tap-highlight-color: rgba(0, 0, 0, 0);
  touch-callout: none;
}

.disableTextSelection {
  -webkit-user-select: none;
  user-select: none;
  -moz-user-select: -moz-none;
}

/* Custom scrollbars for chrome */
::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  background-color: #bbb;
}

* {
  outline: none;
}

.disabled {
  color: lightgray;
}

.noWrap {
  white-space: nowrap !important;
}

.forceWrap {
  word-break: break-all;
}

li hr {
  height: 0;
  border: 0;
}

/* Bootstrap Styles */

.btn,
.btn:hover,
.btn:focus,
.btn:active {
  outline: none !important;
  outline-color: initial !important;
  outline-style: none !important;
  outline-width: initial !important;
  /*  background-image: none;
  border-radius: 0;
  text-transform: none;
  -webkit-transition: none;
  transition: none;
  -webkit-transform: none;
  transform: none;*/
}

.btn-link,
.btn-link:hover,
.btn-link:focus,
.btn-link:active {
  background-color: transparent;
  outline: none !important;
  background-image: none !important;
  border-radius: 0;
  text-transform: none;
  -webkit-transition: none;
  transition: none;
  -webkit-transform: none;
  transform: none;
}

.btn-link:hover,
.btn-link:active {
  color: black;
}

.btn .caret {
  padding-left: 0;
}

.btn-default:focus {
  background-color: white;
}

.modal .btn {
  text-transform: uppercase;
  min-width: 70px;
}

.modal .btn i {
  padding-right: 8px;
  padding-left: 8px;
}

.modal-body {
  font-size: 14px;
  padding-bottom: 0;
}

.modal-header {
  background-color: #f6f6f6;
  border-radius: 5px 5px 0px 0px;
}

.modal-footer {
  background-color: #f6f6f6;
}

.modal-header .close {
  margin-top: 7px;
  font-size: x-large;
}

button.close {
  margin-top: -5px;
}

.dropdown-header {
  margin-top: 6px;
}

.dropdown-menu {
  min-width: 200px;
}

.modal-backdrop.in {
  opacity: 0.15;
  filter: alpha(opacity=15);
}

/* END Bootstap modals fullscreen on small screen */

/* Tablet optimization */
.dropdown-menu li > a {
  line-height: 45px !important;
  height: 45px !important;
  cursor: pointer;
  overflow: hidden;
}

.navbar {
  border-radius: 0 !important;
  border: 0;
  border-bottom: 1px;
}

.btn-toolbar {
  min-height: 40px;
}

.dropdown-menu .divider {
  background-color: #fafafa;
}

.dropdown {
  position: absolute;
  display: none;
  z-index: 10000;
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  #welcomeScreen {
    width: 100%;
    height: 100%;
    background: url(welcome-logo2x.png) no-repeat center;
    background-size: 300px 200px;
  }
}

/* Used in the tours for hapscotch  */

.uiEmphasizer {
  border: 3px dashed #1dd19f;
}

div.hopscotch-bubble {
  z-index: 1030 !important;
}
/* END Used in the tours for hapscotch  */

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .appBackgroundTile {
    background-image: url('background@2x.png');
    background-repeat: repeat;
    background-size: 387px 273px;
  }
}

label.control-label {
  padding-top: 6px !important;
}

.modal textarea {
  border: 1px solid #f4f4f4 !important;
}

.form-control {
  border-radius: 0px;
}

.shortcutKey {
  background-color: #d6d6d6;
  font: 'Console';
  font-family: monospace;
  padding: 5px;
  border-radius: 5px;
}
