:root,
:root.light {
  --default-background-color: #f5f5f5;
  --default-text-color: #111111;
  --default-text-size: 14px;
  --background-color: #f7f7f7;
  --text-color: #111111;
  --primary-background-color: #1dd19f;
  --primary-text-color: #ffffff;
}

:root.dark {
  --background-color: #303030;
  --text-color: #ffffff; 
  --primary-background-color: #1dd19f;
  --primary-text-color: #ffffff;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}

/* Overwriting text color in bootstrap modal dialogs */
.modal {
  color: black !important;
}

/* div,
input,
textarea,
span,
p {
  color: var(--text-color);
} */
/* color: rgba(var(--text-color), 1) !important; */

.btn-primary,
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
  background-color: var(--primary-background-color);
  color: var(--primary-text-color);
}

.viewerMainMenuButton {
  background-color: var(--primary-background-color);
}
