@import '../legacy/common.css';

html,
body {
  overflow: auto;
}

#mhtmlViewer {
  font-size: 14px;
  color: rgb(17, 17, 17);
  background-color: whitesmoke;
}

#readabilityFont {
  margin-left: 19px;
  margin-top: 11px;
}

#sanSerifLabel {
  font-family: Helvetica, Arial, sans-serif;
}

#serifLabel {
  font-family: Georgia, Times New Roman, serif;
}

#readabilityFontSize {
  margin-left: 19px;
  margin-top: 11px;
}

.btn-black {
  background-color: #282a36;
  color: #ffffff;
}

.btn-sepia {
  background-color: #f4ecd8;
  color: #5b4636;
}
